<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="de">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>WE ARE CW.STUDIO</title>
  <meta name="description"
    content="CW.STUDIO is a Stuttgart-based creative agency focused on strategy, design, communication and events.">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="<%= require('./src/assets/favicons/apple-touch-icon.png')%>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./src/assets/favicons/favicon-32x32.png')%>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./src/assets/favicons/favicon-16x16.png')%>">
  <link rel="shortcut icon" href="<%= require('./src/assets/favicons/favicon.ico')%>" type="image/x-icon" />
  <link rel="canonical" href="https://cw.studio" />
  <link rel="stylesheet" href="https://snapwidget.com/stylesheets/snapwidget-lightbox.css" />
  <!-- <link rel="preload" href="https://snapwidget.com/embed/810910" as="document">
  <link rel="preload" href="https://snapwidget.com/embed/810908" as="document">
  <link rel="preload" href="https://snapwidget.com/embed/810906" as="document">
  <link rel="preload" href="https://snapwidget.com/embed/810903" as="document">
  <link rel="preload" href="https://snapwidget.com/embed/810901" as="document">
  <link rel="preload" href="https://snapwidget.com/embed/810899" as="document"> -->
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <h1>Willkommen zu mitchs template!</h1>
    <div id="react-comp-check"></div>
      <!-- $XXX{require('./src/assets/html/header-slider.html')} -->


  <!-- Modals -->
  
  <!-- $XXX{require('./src/assets/html/modals.html')}
  $XXX{require('./src/assets/html/_grid-overlay.html')} -->

</body>

</html>